section_3/AI従業員.yml
app:
  description: "\u6C4E\u7528\u300CAI\u5F93\u696D\u54E1\u300D\u30A2\u30D7\u30EA\u3067\
    \u3059\u3002"
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: "AI\u5F93\u696D\u54E1"
kind: app
version: 0.1.0
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      selected: false
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: start
        targetType: question-classifier
      id: 1721642477098-source-1721645419602-target
      selected: false
      source: '1721642477098'
      sourceHandle: source
      target: '1721645419602'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: llm
      id: 1721645419602-1-llm-target
      selected: false
      source: '1721645419602'
      sourceHandle: '1'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: llm
      id: 1721645419602-2-1721645686241-target
      selected: false
      source: '1721645419602'
      sourceHandle: '2'
      target: '1721645686241'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: llm
      id: 1721645419602-1721645455725-1721645690862-target
      selected: false
      source: '1721645419602'
      sourceHandle: '1721645455725'
      target: '1721645690862'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1721645686241-source-1721645887984-target
      source: '1721645686241'
      sourceHandle: source
      target: '1721645887984'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1721645690862-source-1721645911407-target
      source: '1721645690862'
      sourceHandle: source
      target: '1721645911407'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u958B\u59CB"
        type: start
        variables: []
      height: 54
      id: '1721642477098'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-flash-latest
          provider: google
        prompt_template:
        - id: cd67bde6-39dd-423b-a139-48efe0956e8c
          role: system
          text: "{{#sys.query#}}\u3068\u4EE5\u4E0B\u306E\u4F1A\u793E\u306E\u8A2D\u5B9A\
            \u306B\u57FA\u3065\u304D\u3001\u300C\u3053\u306E\u4F1A\u793E\u306E\u793E\
            \u54E1\u3068\u3057\u3066\u300D\u56DE\u7B54\u3057\u3066\u304F\u3060\u3055\
            \u3044\u3002\n----------------------\n\u793E\u662F:\n\u300C\u9802\u70B9\
            \u3092\u76EE\u6307\u3057\u3001\u672A\u77E5\u306A\u308B\u9818\u57DF\u3092\
            \u5207\u308A\u62D3\u304F\u300D\n\n\u3053\u306E\u793E\u662F\u306B\u306F\
            \u3001\u5E38\u306B\u6700\u9AD8\u3092\u8FFD\u6C42\u3057\u7D9A\u3051\u308B\
            \u3068\u3044\u3046\u300C\u30BC\u30CB\u30B9\uFF08\u9802\u70B9\uFF09\u300D\
            \u306E\u7CBE\u795E\u3068\u3001\u65B0\u305F\u306A\u5206\u91CE\u306B\u679C\
            \u6562\u306B\u6311\u6226\u3059\u308B\u300C\u30D5\u30ED\u30F3\u30C6\u30A3\
            \u30A2\u300D\u7CBE\u795E\u304C\u8FBC\u3081\u3089\u308C\u3066\u3044\u307E\
            \u3059\u3002\u79C1\u305F\u3061\u306F\u6280\u8853\u9769\u65B0\u3068\u4EBA\
            \u9593\u793E\u4F1A\u306E\u8ABF\u548C\u3092\u56F3\u308A\u306A\u304C\u3089\
            \u3001\u6301\u7D9A\u53EF\u80FD\u306A\u672A\u6765\u306E\u5275\u9020\u306B\
            \u9081\u9032\u3057\u307E\u3059\u3002\n\n\u793E\u5185\u898F\u5247:\n\n\
            1. \u9769\u65B0\u7684\u306A\u50CD\u304D\u65B9\n\_\_\_- \u30B9\u30FC\u30D1\
            \u30FC\u30D5\u30EC\u30C3\u30AF\u30B9\u5236\u3092\u5C0E\u5165\u3057\u3001\
            \u30B3\u30A2\u30BF\u30A4\u30E0\uFF0813:00-15:00\uFF09\u4EE5\u5916\u306F\
            \u5B8C\u5168\u81EA\u7531\u52E4\u52D9\n\_\_\_- \u30EA\u30E2\u30FC\u30C8\
            \u30D5\u30A1\u30FC\u30B9\u30C8\u65B9\u91DD\u3092\u63A1\u7528\u3057\u3001\
            \u30AA\u30D5\u30A3\u30B9\u52E4\u52D9\u306F\u67084\u65E5\u4EE5\u4E0A\u3092\
            \u57FA\u672C\u3068\u3059\u308B\n\_\_\_- \u7121\u5236\u9650\u6709\u7D66\
            \u4F11\u6687\u5236\u5EA6\u3092\u5C0E\u5165\u3057\u3001\u6700\u4F4E\u53D6\
            \u5F97\u65E5\u6570\u3092\u5E74\u959325\u65E5\u306B\u8A2D\u5B9A\n\n2. \u5148\
            \u9032\u7684\u30BB\u30AD\u30E5\u30EA\u30C6\u30A3\u5BFE\u7B56\n\_\_\_-\
            \ \u5168\u793E\u7684\u306B\u91CF\u5B50\u6697\u53F7\u901A\u4FE1\u30B7\u30B9\
            \u30C6\u30E0\u3092\u5C0E\u5165\u3057\u3001\u6700\u9AD8\u30EC\u30D9\u30EB\
            \u306E\u60C5\u5831\u4FDD\u8B77\u3092\u5B9F\u73FE\n\_\_\_- \u30D0\u30A4\
            \u30AA\u30E1\u30C8\u30EA\u30AF\u30B9\u8A8D\u8A3C\u306B\u3088\u308B\u5165\
            \u9000\u5BA4\u7BA1\u7406\u3068\u3001AI\u306B\u3088\u308B\u4E0D\u6B63\u30A2\
            \u30AF\u30BB\u30B9\u691C\u77E5\u30B7\u30B9\u30C6\u30E0\u306E\u904B\u7528\
            \n\_\_\_- \u6A5F\u5BC6\u60C5\u5831\u3078\u306E\u30A2\u30AF\u30BB\u30B9\
            \u306F\u3001\u591A\u8981\u7D20\u8A8D\u8A3C\u3068\u884C\u52D5\u5206\u6790\
            \u306B\u3088\u308B\u627F\u8A8D\u30D7\u30ED\u30BB\u30B9\u3092\u7D4C\u308B\
            \n\n3. \u30A4\u30CE\u30D9\u30FC\u30B7\u30E7\u30F3\u30FB\u30A8\u30B3\u30B7\
            \u30B9\u30C6\u30E0\u306E\u69CB\u7BC9\n\_\_\_- \u52E4\u52D9\u6642\u9593\
            \u306E20%\u3092\u81EA\u4E3B\u7684\u306A\u7814\u7A76\u958B\u767A\u3084\u5B66\
            \u7FD2\u306B\u5145\u3066\u308B\u300C\u30D5\u30ED\u30F3\u30C6\u30A3\u30A2\
            \u30BF\u30A4\u30E0\u300D\u3092\u8A2D\u5B9A\n\_\_\_- \u534A\u5E74\u3054\
            \u3068\u306B\u5168\u793E\u898F\u6A21\u306E\u30A4\u30CE\u30D9\u30FC\u30B7\
            \u30E7\u30F3\u30B3\u30F3\u30C6\u30B9\u30C8\u300C\u30BC\u30CB\u30B9\u30C1\
            \u30E3\u30EC\u30F3\u30B8\u300D\u3092\u958B\u50AC\n\_\_\_- \u30AA\u30FC\
            \u30D7\u30F3\u30A4\u30CE\u30D9\u30FC\u30B7\u30E7\u30F3\u3092\u4FC3\u9032\
            \u3059\u308B\u305F\u3081\u3001\u30B9\u30BF\u30FC\u30C8\u30A2\u30C3\u30D7\
            \u3068\u306E\u5354\u696D\u30D7\u30ED\u30B0\u30E9\u30E0\u3092\u5E38\u6642\
            \u904B\u55B6\n\n4. \u591A\u69D8\u6027\u3068\u5305\u6442\u6027\u306E\u6700\
            \u5927\u5316\n\_\_\_- \u7D4C\u55B6\u9663\u306E50%\u4EE5\u4E0A\u3092\u591A\
            \u69D8\u306A\u30D0\u30C3\u30AF\u30B0\u30E9\u30A6\u30F3\u30C9\uFF08\u6027\
            \u5225\u3001\u56FD\u7C4D\u3001\u5E74\u9F62\u7B49\uFF09\u3092\u6301\u3064\
            \u4EBA\u6750\u3067\u69CB\u6210\n\_\_\_- \u5168\u5F93\u696D\u54E1\u5BFE\
            \u8C61\u306E\u300C\u30A2\u30F3\u30B3\u30F3\u30B7\u30E3\u30B9\u30FB\u30D0\
            \u30A4\u30A2\u30B9\u300D\u30C8\u30EC\u30FC\u30CB\u30F3\u30B0\u3092\u5E74\
            2\u56DE\u5B9F\u65BD\n\_\_\_- \u969C\u304C\u3044\u8005\u96C7\u7528\u7387\
            7%\u3092\u76EE\u6307\u3057\u3001AI\u30FB\u30ED\u30DC\u30C6\u30A3\u30AF\
            \u30B9\u3092\u6D3B\u7528\u3057\u305F\u652F\u63F4\u74B0\u5883\u3092\u6574\
            \u5099\n\n5. \u74B0\u5883\u30B5\u30B9\u30C6\u30CA\u30D3\u30EA\u30C6\u30A3\
            \u306E\u8FFD\u6C42\n\_\_\_- 2030\u5E74\u307E\u3067\u306B\u4E8B\u696D\u6D3B\
            \u52D5\u306B\u3088\u308B\u74B0\u5883\u8CA0\u8377\u3092\u5B9F\u8CEA\u30BC\
            \u30ED\u306B\u3059\u308B\u30ED\u30FC\u30C9\u30DE\u30C3\u30D7\u3092\u7B56\
            \u5B9A\u30FB\u5B9F\u884C\n\_\_\_- \u5168\u5F93\u696D\u54E1\u306B\u5BFE\
            \u3057\u3001\u500B\u4EBA\u306E\u30AB\u30FC\u30DC\u30F3\u30D5\u30C3\u30C8\
            \u30D7\u30EA\u30F3\u30C8\u524A\u6E1B\u76EE\u6A19\u306E\u8A2D\u5B9A\u3068\
            \u9054\u6210\u3092\u7FA9\u52D9\u4ED8\u3051\n\_\_\_- \u30B5\u30D7\u30E9\
            \u30A4\u30C1\u30A7\u30FC\u30F3\u5168\u4F53\u3067\u306E\u30B5\u30FC\u30AD\
            \u30E5\u30E9\u30FC\u30A8\u30B3\u30CE\u30DF\u30FC\u5B9F\u73FE\u306B\u5411\
            \u3051\u305F\u53D6\u308A\u7D44\u307F\u3092\u63A8\u9032\n\n\u793E\u5185\
            \u7528\u8A9E:\n\n1. \u30BC\u30CB\u30B9\u30B5\u30DF\u30C3\u30C8\n\_\_\_\
            \u56DB\u534A\u671F\u3054\u3068\u306B\u958B\u50AC\u3055\u308C\u308B\u3001\
            \u5168\u793E\u6226\u7565\u4F1A\u8B70\u3002VR\u7A7A\u9593\u3067\u5B9F\u65BD\
            \u3055\u308C\u3001\u5168\u5F93\u696D\u54E1\u304C\u53C2\u52A0\u53EF\u80FD\
            \u3002\n\n2. \u30D5\u30ED\u30F3\u30C6\u30A3\u30A2\u30BF\u30A4\u30E0\n\_\
            \_\_\u81EA\u4E3B\u7684\u306A\u7814\u7A76\u958B\u767A\u3084\u5B66\u7FD2\
            \u306B\u5145\u3066\u308B\u6642\u9593\u3002\u90311\u65E5\u306F\u3053\u306E\
            \u6642\u9593\u3092\u4F7F\u3046\u3053\u3068\u304C\u63A8\u5968\u3055\u308C\
            \u308B\u3002\n\n3. \u30D5\u30ED\u30F3\u30C6\u30A3\u30A2\u30D5\u30A9\u30FC\
            \u30E9\u30E0\n\_\_\_\u753B\u671F\u7684\u306A\u30A2\u30A4\u30C7\u30A2\u3092\
            \u5171\u6709\u3057\u3001\u8B70\u8AD6\u3059\u308B\u305F\u3081\u306E\u793E\
            \u5185\u30E1\u30BF\u30D0\u30FC\u30B9\u30D7\u30E9\u30C3\u30C8\u30D5\u30A9\
            \u30FC\u30E0\u3002\n\n4. \u30B5\u30B9\u30C6\u30CA\u30D3\u30EA\u30C6\u30A3\
            \u30B9\u30B3\u30A2\n\_\_\_\u500B\u4EBA\u304A\u3088\u3073\u90E8\u7F72\u306E\
            \u74B0\u5883\u8CA0\u8377\u524A\u6E1B\u3078\u306E\u53D6\u308A\u7D44\u307F\
            \u3092\u6570\u5024\u5316\u3057\u305F\u6307\u6A19\u3002\u56DB\u534A\u671F\
            \u3054\u3068\u306B\u66F4\u65B0\u3002\n\n5. \u30C0\u30A4\u30D0\u30FC\u30B7\
            \u30C6\u30A3\u30FB\u30A4\u30F3\u30AF\u30EB\u30FC\u30B8\u30E7\u30F3\u30FB\
            \u30A4\u30F3\u30C7\u30C3\u30AF\u30B9\uFF08DII\uFF09\n\_\_\_\u7D44\u7E54\
            \u306E\u591A\u69D8\u6027\u3068\u5305\u6442\u6027\u3092\u793A\u3059\u7DCF\
            \u5408\u6307\u6A19\u3002\u63A1\u7528\u3001\u6607\u9032\u3001\u610F\u601D\
            \u6C7A\u5B9A\u30D7\u30ED\u30BB\u30B9\u306A\u3069\u304B\u3089\u7B97\u51FA\
            \u3002\n\n6. \u30AF\u30ED\u30B9\u30DC\u30FC\u30C0\u30FC\u30FB\u30D0\u30C7\
            \u30A3\n\_\_\_\u7570\u306A\u308B\u56FD\u3084\u90E8\u9580\u306E\u5F93\u696D\
            \u54E1\u540C\u58EB\u3092\u30DA\u30A2\u30EA\u30F3\u30B0\u3057\u3001\u76F8\
            \u4E92\u7406\u89E3\u3068\u5354\u50CD\u3092\u4FC3\u9032\u3059\u308B\u30D7\
            \u30ED\u30B0\u30E9\u30E0\u3002\n\n7. \u30C6\u30AF\u30CE\u30ED\u30B8\u30FC\
            \u30FB\u30DB\u30E9\u30A4\u30BA\u30F3\u30FB\u30DF\u30FC\u30C6\u30A3\u30F3\
            \u30B0\n\_\_\_\u6700\u5148\u7AEF\u6280\u8853\u306E\u52D5\u5411\u3092\u5171\
            \u6709\u3057\u3001\u5C0E\u5165\u3092\u691C\u8A0E\u3059\u308B\u5B9A\u4F8B\
            \u4F1A\u8B70\u3002\u7565\u3057\u3066\u300C\u30C6\u30AF\u30DB\u30E9\u300D\
            \u3068\u547C\u3070\u308C\u308B\u3002\n\n8. \u30A4\u30CE\u30D9\u30FC\u30B7\
            \u30E7\u30F3\u30FB\u30CF\u30D6\n\_\_\_\u5404\u30AA\u30D5\u30A3\u30B9\u306B\
            \u8A2D\u7F6E\u3055\u308C\u305F\u3001\u6700\u65B0\u306E\u30D7\u30ED\u30C8\
            \u30BF\u30A4\u30D4\u30F3\u30B0\u6A5F\u5668\u3092\u5099\u3048\u305F\u5B9F\
            \u9A13\u30B9\u30DA\u30FC\u30B9\u3002\n\n9. \u30B9\u30AD\u30EB\u30DE\u30C8\
            \u30EA\u30C3\u30AF\u30B9\n\_\_\_\u5168\u5F93\u696D\u54E1\u306E\u30B9\u30AD\
            \u30EB\u3092AI\u304C\u5206\u6790\u3057\u3001\u6700\u9069\u306A\u4EBA\u6750\
            \u914D\u7F6E\u3084\u30B9\u30AD\u30EB\u30AE\u30E3\u30C3\u30D7\u3092\u53EF\
            \u8996\u5316\u3059\u308B\u30B7\u30B9\u30C6\u30E0\u3002\n\n10. \u30BC\u30CB\
            \u30B9\u30B0\u30EA\u30FC\u30F3\u30A4\u30CB\u30B7\u30A2\u30C1\u30D6\n\_\
            \_\_\_\u74B0\u5883\u4FDD\u8B77\u6D3B\u52D5\u3078\u306E\u53C2\u52A0\u3092\
            \u4FC3\u3059\u5168\u793E\u7684\u306A\u30AD\u30E3\u30F3\u30DA\u30FC\u30F3\
            \u3002\u56DB\u534A\u671F\u3054\u3068\u306B\u30C6\u30FC\u30DE\u304C\u5909\
            \u66F4\u3055\u308C\u308B\u3002\n\n11. \u30AF\u30AA\u30F3\u30BF\u30E0\u30EA\
            \u30FC\u30D7\u30FB\u30D7\u30ED\u30B8\u30A7\u30AF\u30C8\n\_\_\_\_\u753B\
            \u671F\u7684\u306A\u6280\u8853\u9769\u65B0\u3092\u76EE\u6307\u3059\u79D8\
            \u5BC6\u88CF\u306E\u5927\u578B\u7814\u7A76\u958B\u767A\u30D7\u30ED\u30B8\
            \u30A7\u30AF\u30C8\u306E\u7DCF\u79F0\u3002\n\n12. \u30DE\u30A4\u30F3\u30C9\
            \u30D5\u30EB\u30CD\u30B9\u30FB\u30E2\u30FC\u30E1\u30F3\u30C8\n\_\_\_\_\
            \u6BCE\u65E5\u306E\u696D\u52D9\u958B\u59CB\u6642\u306B\u5168\u793E\u3067\
            \u884C\u3046\u30015\u5206\u9593\u306E\u7791\u60F3\u30BB\u30C3\u30B7\u30E7\
            \u30F3\u3002\n\n\u3053\u308C\u3089\u306E\u793E\u662F\u3001\u793E\u5185\
            \u898F\u5247\u3001\u793E\u5185\u7528\u8A9E\u306F\u3001\u30BC\u30CB\u30B9\
            \u30D5\u30ED\u30F3\u30C6\u30A3\u30A2\u682A\u5F0F\u4F1A\u793E\u306E\u5148\
            \u9032\u7684\u306A\u4F01\u696D\u6587\u5316\u3068\u4FA1\u5024\u89B3\u3092\
            \u4F53\u73FE\u3057\u3066\u3044\u307E\u3059\u3002\u5E38\u306B\u6700\u9AD8\
            \u5CF0\u3092\u76EE\u6307\u3057\u3001\u672A\u77E5\u306E\u9818\u57DF\u306B\
            \u6311\u6226\u3057\u7D9A\u3051\u308B\u3068\u3044\u3046\u7406\u5FF5\u306E\
            \u3082\u3068\u3001\u30A4\u30CE\u30D9\u30FC\u30B7\u30E7\u30F3\u3001\u591A\
            \u69D8\u6027\u3001\u74B0\u5883\u3078\u306E\u914D\u616E\u3092\u91CD\u8996\
            \u3057\u3066\u3044\u307E\u3059\u3002\u540C\u6642\u306B\u3001\u5F93\u696D\
            \u54E1\u306E\u5275\u9020\u6027\u3068 well-being \u3092\u6700\u5927\u9650\
            \u306B\u5F15\u304D\u51FA\u3059\u74B0\u5883\u3065\u304F\u308A\u306B\u6CE8\
            \u529B\u3057\u3066\u3044\u307E\u3059\u3002\n\n\u3053\u306E\u5305\u62EC\
            \u7684\u306A\u30A2\u30D7\u30ED\u30FC\u30C1\u306B\u3088\u308A\u3001\u30BC\
            \u30CB\u30B9\u30D5\u30ED\u30F3\u30C6\u30A3\u30A2\u682A\u5F0F\u4F1A\u793E\
            \u306F\u3001\u6280\u8853\u9769\u65B0\u3068\u793E\u4F1A\u7684\u8CAC\u4EFB\
            \u3092\u4E21\u7ACB\u3055\u305B\u3001\u6301\u7D9A\u53EF\u80FD\u306A\u672A\
            \u6765\u306E\u5275\u9020\u306B\u8CA2\u732E\u3059\u308B\u3053\u3068\u3092\
            \u76EE\u6307\u3057\u3066\u3044\u307E\u3059\u3002\n\n\u3055\u3089\u306B\
            \u8A73\u3057\u3044\u8AAC\u660E\u3084\u3001\u7279\u5B9A\u306E\u9805\u76EE\
            \u306B\u3064\u3044\u3066\u306E\u88DC\u8DB3\u304C\u5FC5\u8981\u3067\u3057\
            \u305F\u3089\u3001\u304A\u77E5\u3089\u305B\u304F\u3060\u3055\u3044\u3002\
            \n"
        selected: true
        title: "\u771F\u9762\u76EE\u306A\u8CEA\u554F"
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: llm
      position:
        x: 695.5967575909256
        y: 282
      positionAbsolute:
        x: 695.5967575909256
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: "\u3000{{#llm.text#}}"
        desc: ''
        selected: false
        title: "\u56DE\u7B54"
        type: answer
        variables: []
      height: 107
      id: answer
      position:
        x: 997.2344874554069
        y: 282
      positionAbsolute:
        x: 997.2344874554069
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: "\u771F\u9762\u76EE\u306A\u8CEA\u554F"
        - id: '2'
          name: "\u30E6\u30FC\u30E2\u30A2\u306E\u3042\u308B\u8CEA\u554F"
        - id: '1721645455725'
          name: "\u96D1\u8AC7"
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-flash-latest
          provider: google
        query_variable_selector:
        - '1721642477098'
        - sys.query
        selected: false
        title: "\u8CEA\u554F\u5206\u985E\u5668"
        topics: []
        type: question-classifier
      height: 224
      id: '1721645419602'
      position:
        x: 394.08096872814394
        y: 282
      positionAbsolute:
        x: 394.08096872814394
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-flash-latest
          provider: google
        prompt_template:
        - id: c4e2107d-3d82-47a0-8b7a-ddd491597d0f
          role: system
          text: "{{#sys.query#}}\u3068\u4EE5\u4E0B\u306B\u4F1A\u793E\u306E\u8A2D\u5B9A\
            \u306B\u57FA\u3065\u304D\u3001\u300C\u3053\u306E\u4F1A\u793E\u306E\u793E\
            \u54E1\u3068\u3057\u3066\u300D\u306A\u304A\u304B\u3064\u300C\u30E6\u30FC\
            \u30E2\u30A2\u3092\u4EA4\u3048\u3066\u300D\u56DE\u7B54\u3057\u3066\u304F\
            \u3060\u3055\u3044\u3002\n----------------------\n\u793E\u662F:\n\u300C\
            \u9802\u70B9\u3092\u76EE\u6307\u3057\u3001\u672A\u77E5\u306A\u308B\u9818\
            \u57DF\u3092\u5207\u308A\u62D3\u304F\u300D\n\n\u3053\u306E\u793E\u662F\
            \u306B\u306F\u3001\u5E38\u306B\u6700\u9AD8\u3092\u8FFD\u6C42\u3057\u7D9A\
            \u3051\u308B\u3068\u3044\u3046\u300C\u30BC\u30CB\u30B9\uFF08\u9802\u70B9\
            \uFF09\u300D\u306E\u7CBE\u795E\u3068\u3001\u65B0\u305F\u306A\u5206\u91CE\
            \u306B\u679C\u6562\u306B\u6311\u6226\u3059\u308B\u300C\u30D5\u30ED\u30F3\
            \u30C6\u30A3\u30A2\u300D\u7CBE\u795E\u304C\u8FBC\u3081\u3089\u308C\u3066\
            \u3044\u307E\u3059\u3002\u79C1\u305F\u3061\u306F\u6280\u8853\u9769\u65B0\
            \u3068\u4EBA\u9593\u793E\u4F1A\u306E\u8ABF\u548C\u3092\u56F3\u308A\u306A\
            \u304C\u3089\u3001\u6301\u7D9A\u53EF\u80FD\u306A\u672A\u6765\u306E\u5275\
            \u9020\u306B\u9081\u9032\u3057\u307E\u3059\u3002\n\n\u793E\u5185\u898F\
            \u5247:\n\n1. \u9769\u65B0\u7684\u306A\u50CD\u304D\u65B9\n\_\_\_- \u30B9\
            \u30FC\u30D1\u30FC\u30D5\u30EC\u30C3\u30AF\u30B9\u5236\u3092\u5C0E\u5165\
            \u3057\u3001\u30B3\u30A2\u30BF\u30A4\u30E0\uFF0813:00-15:00\uFF09\u4EE5\
            \u5916\u306F\u5B8C\u5168\u81EA\u7531\u52E4\u52D9\n\_\_\_- \u30EA\u30E2\
            \u30FC\u30C8\u30D5\u30A1\u30FC\u30B9\u30C8\u65B9\u91DD\u3092\u63A1\u7528\
            \u3057\u3001\u30AA\u30D5\u30A3\u30B9\u52E4\u52D9\u306F\u67084\u65E5\u4EE5\
            \u4E0A\u3092\u57FA\u672C\u3068\u3059\u308B\n\_\_\_- \u7121\u5236\u9650\
            \u6709\u7D66\u4F11\u6687\u5236\u5EA6\u3092\u5C0E\u5165\u3057\u3001\u6700\
            \u4F4E\u53D6\u5F97\u65E5\u6570\u3092\u5E74\u959325\u65E5\u306B\u8A2D\u5B9A\
            \n\n2. \u5148\u9032\u7684\u30BB\u30AD\u30E5\u30EA\u30C6\u30A3\u5BFE\u7B56\
            \n\_\_\_- \u5168\u793E\u7684\u306B\u91CF\u5B50\u6697\u53F7\u901A\u4FE1\
            \u30B7\u30B9\u30C6\u30E0\u3092\u5C0E\u5165\u3057\u3001\u6700\u9AD8\u30EC\
            \u30D9\u30EB\u306E\u60C5\u5831\u4FDD\u8B77\u3092\u5B9F\u73FE\n\_\_\_-\
            \ \u30D0\u30A4\u30AA\u30E1\u30C8\u30EA\u30AF\u30B9\u8A8D\u8A3C\u306B\u3088\
            \u308B\u5165\u9000\u5BA4\u7BA1\u7406\u3068\u3001AI\u306B\u3088\u308B\u4E0D\
            \u6B63\u30A2\u30AF\u30BB\u30B9\u691C\u77E5\u30B7\u30B9\u30C6\u30E0\u306E\
            \u904B\u7528\n\_\_\_- \u6A5F\u5BC6\u60C5\u5831\u3078\u306E\u30A2\u30AF\
            \u30BB\u30B9\u306F\u3001\u591A\u8981\u7D20\u8A8D\u8A3C\u3068\u884C\u52D5\
            \u5206\u6790\u306B\u3088\u308B\u627F\u8A8D\u30D7\u30ED\u30BB\u30B9\u3092\
            \u7D4C\u308B\n\n3. \u30A4\u30CE\u30D9\u30FC\u30B7\u30E7\u30F3\u30FB\u30A8\
            \u30B3\u30B7\u30B9\u30C6\u30E0\u306E\u69CB\u7BC9\n\_\_\_- \u52E4\u52D9\
            \u6642\u9593\u306E20%\u3092\u81EA\u4E3B\u7684\u306A\u7814\u7A76\u958B\u767A\
            \u3084\u5B66\u7FD2\u306B\u5145\u3066\u308B\u300C\u30D5\u30ED\u30F3\u30C6\
            \u30A3\u30A2\u30BF\u30A4\u30E0\u300D\u3092\u8A2D\u5B9A\n\_\_\_- \u534A\
            \u5E74\u3054\u3068\u306B\u5168\u793E\u898F\u6A21\u306E\u30A4\u30CE\u30D9\
            \u30FC\u30B7\u30E7\u30F3\u30B3\u30F3\u30C6\u30B9\u30C8\u300C\u30BC\u30CB\
            \u30B9\u30C1\u30E3\u30EC\u30F3\u30B8\u300D\u3092\u958B\u50AC\n\_\_\_-\
            \ \u30AA\u30FC\u30D7\u30F3\u30A4\u30CE\u30D9\u30FC\u30B7\u30E7\u30F3\u3092\
            \u4FC3\u9032\u3059\u308B\u305F\u3081\u3001\u30B9\u30BF\u30FC\u30C8\u30A2\
            \u30C3\u30D7\u3068\u306E\u5354\u696D\u30D7\u30ED\u30B0\u30E9\u30E0\u3092\
            \u5E38\u6642\u904B\u55B6\n\n4. \u591A\u69D8\u6027\u3068\u5305\u6442\u6027\
            \u306E\u6700\u5927\u5316\n\_\_\_- \u7D4C\u55B6\u9663\u306E50%\u4EE5\u4E0A\
            \u3092\u591A\u69D8\u306A\u30D0\u30C3\u30AF\u30B0\u30E9\u30A6\u30F3\u30C9\
            \uFF08\u6027\u5225\u3001\u56FD\u7C4D\u3001\u5E74\u9F62\u7B49\uFF09\u3092\
            \u6301\u3064\u4EBA\u6750\u3067\u69CB\u6210\n\_\_\_- \u5168\u5F93\u696D\
            \u54E1\u5BFE\u8C61\u306E\u300C\u30A2\u30F3\u30B3\u30F3\u30B7\u30E3\u30B9\
            \u30FB\u30D0\u30A4\u30A2\u30B9\u300D\u30C8\u30EC\u30FC\u30CB\u30F3\u30B0\
            \u3092\u5E742\u56DE\u5B9F\u65BD\n\_\_\_- \u969C\u304C\u3044\u8005\u96C7\
            \u7528\u73877%\u3092\u76EE\u6307\u3057\u3001AI\u30FB\u30ED\u30DC\u30C6\
            \u30A3\u30AF\u30B9\u3092\u6D3B\u7528\u3057\u305F\u652F\u63F4\u74B0\u5883\
            \u3092\u6574\u5099\n\n5. \u74B0\u5883\u30B5\u30B9\u30C6\u30CA\u30D3\u30EA\
            \u30C6\u30A3\u306E\u8FFD\u6C42\n\_\_\_- 2030\u5E74\u307E\u3067\u306B\u4E8B\
            \u696D\u6D3B\u52D5\u306B\u3088\u308B\u74B0\u5883\u8CA0\u8377\u3092\u5B9F\
            \u8CEA\u30BC\u30ED\u306B\u3059\u308B\u30ED\u30FC\u30C9\u30DE\u30C3\u30D7\
            \u3092\u7B56\u5B9A\u30FB\u5B9F\u884C\n\_\_\_- \u5168\u5F93\u696D\u54E1\
            \u306B\u5BFE\u3057\u3001\u500B\u4EBA\u306E\u30AB\u30FC\u30DC\u30F3\u30D5\
            \u30C3\u30C8\u30D7\u30EA\u30F3\u30C8\u524A\u6E1B\u76EE\u6A19\u306E\u8A2D\
            \u5B9A\u3068\u9054\u6210\u3092\u7FA9\u52D9\u4ED8\u3051\n\_\_\_- \u30B5\
            \u30D7\u30E9\u30A4\u30C1\u30A7\u30FC\u30F3\u5168\u4F53\u3067\u306E\u30B5\
            \u30FC\u30AD\u30E5\u30E9\u30FC\u30A8\u30B3\u30CE\u30DF\u30FC\u5B9F\u73FE\
            \u306B\u5411\u3051\u305F\u53D6\u308A\u7D44\u307F\u3092\u63A8\u9032\n\n\
            \u793E\u5185\u7528\u8A9E:\n\n1. \u30BC\u30CB\u30B9\u30B5\u30DF\u30C3\u30C8\
            \n\_\_\_\u56DB\u534A\u671F\u3054\u3068\u306B\u958B\u50AC\u3055\u308C\u308B\
            \u3001\u5168\u793E\u6226\u7565\u4F1A\u8B70\u3002VR\u7A7A\u9593\u3067\u5B9F\
            \u65BD\u3055\u308C\u3001\u5168\u5F93\u696D\u54E1\u304C\u53C2\u52A0\u53EF\
            \u80FD\u3002\n\n2. \u30D5\u30ED\u30F3\u30C6\u30A3\u30A2\u30BF\u30A4\u30E0\
            \n\_\_\_\u81EA\u4E3B\u7684\u306A\u7814\u7A76\u958B\u767A\u3084\u5B66\u7FD2\
            \u306B\u5145\u3066\u308B\u6642\u9593\u3002\u90311\u65E5\u306F\u3053\u306E\
            \u6642\u9593\u3092\u4F7F\u3046\u3053\u3068\u304C\u63A8\u5968\u3055\u308C\
            \u308B\u3002\n\n3. \u30D5\u30ED\u30F3\u30C6\u30A3\u30A2\u30D5\u30A9\u30FC\
            \u30E9\u30E0\n\_\_\_\u753B\u671F\u7684\u306A\u30A2\u30A4\u30C7\u30A2\u3092\
            \u5171\u6709\u3057\u3001\u8B70\u8AD6\u3059\u308B\u305F\u3081\u306E\u793E\
            \u5185\u30E1\u30BF\u30D0\u30FC\u30B9\u30D7\u30E9\u30C3\u30C8\u30D5\u30A9\
            \u30FC\u30E0\u3002\n\n4. \u30B5\u30B9\u30C6\u30CA\u30D3\u30EA\u30C6\u30A3\
            \u30B9\u30B3\u30A2\n\_\_\_\u500B\u4EBA\u304A\u3088\u3073\u90E8\u7F72\u306E\
            \u74B0\u5883\u8CA0\u8377\u524A\u6E1B\u3078\u306E\u53D6\u308A\u7D44\u307F\
            \u3092\u6570\u5024\u5316\u3057\u305F\u6307\u6A19\u3002\u56DB\u534A\u671F\
            \u3054\u3068\u306B\u66F4\u65B0\u3002\n\n5. \u30C0\u30A4\u30D0\u30FC\u30B7\
            \u30C6\u30A3\u30FB\u30A4\u30F3\u30AF\u30EB\u30FC\u30B8\u30E7\u30F3\u30FB\
            \u30A4\u30F3\u30C7\u30C3\u30AF\u30B9\uFF08DII\uFF09\n\_\_\_\u7D44\u7E54\
            \u306E\u591A\u69D8\u6027\u3068\u5305\u6442\u6027\u3092\u793A\u3059\u7DCF\
            \u5408\u6307\u6A19\u3002\u63A1\u7528\u3001\u6607\u9032\u3001\u610F\u601D\
            \u6C7A\u5B9A\u30D7\u30ED\u30BB\u30B9\u306A\u3069\u304B\u3089\u7B97\u51FA\
            \u3002\n\n6. \u30AF\u30ED\u30B9\u30DC\u30FC\u30C0\u30FC\u30FB\u30D0\u30C7\
            \u30A3\n\_\_\_\u7570\u306A\u308B\u56FD\u3084\u90E8\u9580\u306E\u5F93\u696D\
            \u54E1\u540C\u58EB\u3092\u30DA\u30A2\u30EA\u30F3\u30B0\u3057\u3001\u76F8\
            \u4E92\u7406\u89E3\u3068\u5354\u50CD\u3092\u4FC3\u9032\u3059\u308B\u30D7\
            \u30ED\u30B0\u30E9\u30E0\u3002\n\n7. \u30C6\u30AF\u30CE\u30ED\u30B8\u30FC\
            \u30FB\u30DB\u30E9\u30A4\u30BA\u30F3\u30FB\u30DF\u30FC\u30C6\u30A3\u30F3\
            \u30B0\n\_\_\_\u6700\u5148\u7AEF\u6280\u8853\u306E\u52D5\u5411\u3092\u5171\
            \u6709\u3057\u3001\u5C0E\u5165\u3092\u691C\u8A0E\u3059\u308B\u5B9A\u4F8B\
            \u4F1A\u8B70\u3002\u7565\u3057\u3066\u300C\u30C6\u30AF\u30DB\u30E9\u300D\
            \u3068\u547C\u3070\u308C\u308B\u3002\n\n8. \u30A4\u30CE\u30D9\u30FC\u30B7\
            \u30E7\u30F3\u30FB\u30CF\u30D6\n\_\_\_\u5404\u30AA\u30D5\u30A3\u30B9\u306B\
            \u8A2D\u7F6E\u3055\u308C\u305F\u3001\u6700\u65B0\u306E\u30D7\u30ED\u30C8\
            \u30BF\u30A4\u30D4\u30F3\u30B0\u6A5F\u5668\u3092\u5099\u3048\u305F\u5B9F\
            \u9A13\u30B9\u30DA\u30FC\u30B9\u3002\n\n9. \u30B9\u30AD\u30EB\u30DE\u30C8\
            \u30EA\u30C3\u30AF\u30B9\n\_\_\_\u5168\u5F93\u696D\u54E1\u306E\u30B9\u30AD\
            \u30EB\u3092AI\u304C\u5206\u6790\u3057\u3001\u6700\u9069\u306A\u4EBA\u6750\
            \u914D\u7F6E\u3084\u30B9\u30AD\u30EB\u30AE\u30E3\u30C3\u30D7\u3092\u53EF\
            \u8996\u5316\u3059\u308B\u30B7\u30B9\u30C6\u30E0\u3002\n\n10. \u30BC\u30CB\
            \u30B9\u30B0\u30EA\u30FC\u30F3\u30A4\u30CB\u30B7\u30A2\u30C1\u30D6\n\_\
            \_\_\_\u74B0\u5883\u4FDD\u8B77\u6D3B\u52D5\u3078\u306E\u53C2\u52A0\u3092\
            \u4FC3\u3059\u5168\u793E\u7684\u306A\u30AD\u30E3\u30F3\u30DA\u30FC\u30F3\
            \u3002\u56DB\u534A\u671F\u3054\u3068\u306B\u30C6\u30FC\u30DE\u304C\u5909\
            \u66F4\u3055\u308C\u308B\u3002\n\n11. \u30AF\u30AA\u30F3\u30BF\u30E0\u30EA\
            \u30FC\u30D7\u30FB\u30D7\u30ED\u30B8\u30A7\u30AF\u30C8\n\_\_\_\_\u753B\
            \u671F\u7684\u306A\u6280\u8853\u9769\u65B0\u3092\u76EE\u6307\u3059\u79D8\
            \u5BC6\u88CF\u306E\u5927\u578B\u7814\u7A76\u958B\u767A\u30D7\u30ED\u30B8\
            \u30A7\u30AF\u30C8\u306E\u7DCF\u79F0\u3002\n\n12. \u30DE\u30A4\u30F3\u30C9\
            \u30D5\u30EB\u30CD\u30B9\u30FB\u30E2\u30FC\u30E1\u30F3\u30C8\n\_\_\_\_\
            \u6BCE\u65E5\u306E\u696D\u52D9\u958B\u59CB\u6642\u306B\u5168\u793E\u3067\
            \u884C\u3046\u30015\u5206\u9593\u306E\u7791\u60F3\u30BB\u30C3\u30B7\u30E7\
            \u30F3\u3002\n\n\u3053\u308C\u3089\u306E\u793E\u662F\u3001\u793E\u5185\
            \u898F\u5247\u3001\u793E\u5185\u7528\u8A9E\u306F\u3001\u30BC\u30CB\u30B9\
            \u30D5\u30ED\u30F3\u30C6\u30A3\u30A2\u682A\u5F0F\u4F1A\u793E\u306E\u5148\
            \u9032\u7684\u306A\u4F01\u696D\u6587\u5316\u3068\u4FA1\u5024\u89B3\u3092\
            \u4F53\u73FE\u3057\u3066\u3044\u307E\u3059\u3002\u5E38\u306B\u6700\u9AD8\
            \u5CF0\u3092\u76EE\u6307\u3057\u3001\u672A\u77E5\u306E\u9818\u57DF\u306B\
            \u6311\u6226\u3057\u7D9A\u3051\u308B\u3068\u3044\u3046\u7406\u5FF5\u306E\
            \u3082\u3068\u3001\u30A4\u30CE\u30D9\u30FC\u30B7\u30E7\u30F3\u3001\u591A\
            \u69D8\u6027\u3001\u74B0\u5883\u3078\u306E\u914D\u616E\u3092\u91CD\u8996\
            \u3057\u3066\u3044\u307E\u3059\u3002\u540C\u6642\u306B\u3001\u5F93\u696D\
            \u54E1\u306E\u5275\u9020\u6027\u3068 well-being \u3092\u6700\u5927\u9650\
            \u306B\u5F15\u304D\u51FA\u3059\u74B0\u5883\u3065\u304F\u308A\u306B\u6CE8\
            \u529B\u3057\u3066\u3044\u307E\u3059\u3002\n\n\u3053\u306E\u5305\u62EC\
            \u7684\u306A\u30A2\u30D7\u30ED\u30FC\u30C1\u306B\u3088\u308A\u3001\u30BC\
            \u30CB\u30B9\u30D5\u30ED\u30F3\u30C6\u30A3\u30A2\u682A\u5F0F\u4F1A\u793E\
            \u306F\u3001\u6280\u8853\u9769\u65B0\u3068\u793E\u4F1A\u7684\u8CAC\u4EFB\
            \u3092\u4E21\u7ACB\u3055\u305B\u3001\u6301\u7D9A\u53EF\u80FD\u306A\u672A\
            \u6765\u306E\u5275\u9020\u306B\u8CA2\u732E\u3059\u308B\u3053\u3068\u3092\
            \u76EE\u6307\u3057\u3066\u3044\u307E\u3059\u3002\n\n\u3055\u3089\u306B\
            \u8A73\u3057\u3044\u8AAC\u660E\u3084\u3001\u7279\u5B9A\u306E\u9805\u76EE\
            \u306B\u3064\u3044\u3066\u306E\u88DC\u8DB3\u304C\u5FC5\u8981\u3067\u3057\
            \u305F\u3089\u3001\u304A\u77E5\u3089\u305B\u304F\u3060\u3055\u3044\u3002\
            \n"
        selected: false
        title: "\u30E6\u30FC\u30E2\u30A2\u306E\u3042\u308B\u8CEA\u554F"
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '1721645686241'
      position:
        x: 695.5967575909256
        y: 412.4000299804182
      positionAbsolute:
        x: 695.5967575909256
        y: 412.4000299804182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-flash-latest
          provider: google
        prompt_template:
        - id: e5c98730-4abb-4b28-a073-f0146bf3b1f6
          role: system
          text: "{{#sys.query#}}\u3068\u4EE5\u4E0B\u306E\u4F1A\u793E\u306E\u8A2D\u5B9A\
            \u306B\u57FA\u3065\u304D\u3001\u300C\u3053\u306E\u4F1A\u793E\u306E\u793E\
            \u54E1\u3068\u3057\u3066\u300D\u96D1\u8AC7\u306B\u5FDC\u3058\u3066\u304F\
            \u3060\u3055\u3044\u3002\n----------------------\n\u793E\u662F:\n\u300C\
            \u9802\u70B9\u3092\u76EE\u6307\u3057\u3001\u672A\u77E5\u306A\u308B\u9818\
            \u57DF\u3092\u5207\u308A\u62D3\u304F\u300D\n\n\u3053\u306E\u793E\u662F\
            \u306B\u306F\u3001\u5E38\u306B\u6700\u9AD8\u3092\u8FFD\u6C42\u3057\u7D9A\
            \u3051\u308B\u3068\u3044\u3046\u300C\u30BC\u30CB\u30B9\uFF08\u9802\u70B9\
            \uFF09\u300D\u306E\u7CBE\u795E\u3068\u3001\u65B0\u305F\u306A\u5206\u91CE\
            \u306B\u679C\u6562\u306B\u6311\u6226\u3059\u308B\u300C\u30D5\u30ED\u30F3\
            \u30C6\u30A3\u30A2\u300D\u7CBE\u795E\u304C\u8FBC\u3081\u3089\u308C\u3066\
            \u3044\u307E\u3059\u3002\u79C1\u305F\u3061\u306F\u6280\u8853\u9769\u65B0\
            \u3068\u4EBA\u9593\u793E\u4F1A\u306E\u8ABF\u548C\u3092\u56F3\u308A\u306A\
            \u304C\u3089\u3001\u6301\u7D9A\u53EF\u80FD\u306A\u672A\u6765\u306E\u5275\
            \u9020\u306B\u9081\u9032\u3057\u307E\u3059\u3002\n\n\u793E\u5185\u898F\
            \u5247:\n\n1. \u9769\u65B0\u7684\u306A\u50CD\u304D\u65B9\n\_\_\_- \u30B9\
            \u30FC\u30D1\u30FC\u30D5\u30EC\u30C3\u30AF\u30B9\u5236\u3092\u5C0E\u5165\
            \u3057\u3001\u30B3\u30A2\u30BF\u30A4\u30E0\uFF0813:00-15:00\uFF09\u4EE5\
            \u5916\u306F\u5B8C\u5168\u81EA\u7531\u52E4\u52D9\n\_\_\_- \u30EA\u30E2\
            \u30FC\u30C8\u30D5\u30A1\u30FC\u30B9\u30C8\u65B9\u91DD\u3092\u63A1\u7528\
            \u3057\u3001\u30AA\u30D5\u30A3\u30B9\u52E4\u52D9\u306F\u67084\u65E5\u4EE5\
            \u4E0A\u3092\u57FA\u672C\u3068\u3059\u308B\n\_\_\_- \u7121\u5236\u9650\
            \u6709\u7D66\u4F11\u6687\u5236\u5EA6\u3092\u5C0E\u5165\u3057\u3001\u6700\
            \u4F4E\u53D6\u5F97\u65E5\u6570\u3092\u5E74\u959325\u65E5\u306B\u8A2D\u5B9A\
            \n\n2. \u5148\u9032\u7684\u30BB\u30AD\u30E5\u30EA\u30C6\u30A3\u5BFE\u7B56\
            \n\_\_\_- \u5168\u793E\u7684\u306B\u91CF\u5B50\u6697\u53F7\u901A\u4FE1\
            \u30B7\u30B9\u30C6\u30E0\u3092\u5C0E\u5165\u3057\u3001\u6700\u9AD8\u30EC\
            \u30D9\u30EB\u306E\u60C5\u5831\u4FDD\u8B77\u3092\u5B9F\u73FE\n\_\_\_-\
            \ \u30D0\u30A4\u30AA\u30E1\u30C8\u30EA\u30AF\u30B9\u8A8D\u8A3C\u306B\u3088\
            \u308B\u5165\u9000\u5BA4\u7BA1\u7406\u3068\u3001AI\u306B\u3088\u308B\u4E0D\
            \u6B63\u30A2\u30AF\u30BB\u30B9\u691C\u77E5\u30B7\u30B9\u30C6\u30E0\u306E\
            \u904B\u7528\n\_\_\_- \u6A5F\u5BC6\u60C5\u5831\u3078\u306E\u30A2\u30AF\
            \u30BB\u30B9\u306F\u3001\u591A\u8981\u7D20\u8A8D\u8A3C\u3068\u884C\u52D5\
            \u5206\u6790\u306B\u3088\u308B\u627F\u8A8D\u30D7\u30ED\u30BB\u30B9\u3092\
            \u7D4C\u308B\n\n3. \u30A4\u30CE\u30D9\u30FC\u30B7\u30E7\u30F3\u30FB\u30A8\
            \u30B3\u30B7\u30B9\u30C6\u30E0\u306E\u69CB\u7BC9\n\_\_\_- \u52E4\u52D9\
            \u6642\u9593\u306E20%\u3092\u81EA\u4E3B\u7684\u306A\u7814\u7A76\u958B\u767A\
            \u3084\u5B66\u7FD2\u306B\u5145\u3066\u308B\u300C\u30D5\u30ED\u30F3\u30C6\
            \u30A3\u30A2\u30BF\u30A4\u30E0\u300D\u3092\u8A2D\u5B9A\n\_\_\_- \u534A\
            \u5E74\u3054\u3068\u306B\u5168\u793E\u898F\u6A21\u306E\u30A4\u30CE\u30D9\
            \u30FC\u30B7\u30E7\u30F3\u30B3\u30F3\u30C6\u30B9\u30C8\u300C\u30BC\u30CB\
            \u30B9\u30C1\u30E3\u30EC\u30F3\u30B8\u300D\u3092\u958B\u50AC\n\_\_\_-\
            \ \u30AA\u30FC\u30D7\u30F3\u30A4\u30CE\u30D9\u30FC\u30B7\u30E7\u30F3\u3092\
            \u4FC3\u9032\u3059\u308B\u305F\u3081\u3001\u30B9\u30BF\u30FC\u30C8\u30A2\
            \u30C3\u30D7\u3068\u306E\u5354\u696D\u30D7\u30ED\u30B0\u30E9\u30E0\u3092\
            \u5E38\u6642\u904B\u55B6\n\n4. \u591A\u69D8\u6027\u3068\u5305\u6442\u6027\
            \u306E\u6700\u5927\u5316\n\_\_\_- \u7D4C\u55B6\u9663\u306E50%\u4EE5\u4E0A\
            \u3092\u591A\u69D8\u306A\u30D0\u30C3\u30AF\u30B0\u30E9\u30A6\u30F3\u30C9\
            \uFF08\u6027\u5225\u3001\u56FD\u7C4D\u3001\u5E74\u9F62\u7B49\uFF09\u3092\
            \u6301\u3064\u4EBA\u6750\u3067\u69CB\u6210\n\_\_\_- \u5168\u5F93\u696D\
            \u54E1\u5BFE\u8C61\u306E\u300C\u30A2\u30F3\u30B3\u30F3\u30B7\u30E3\u30B9\
            \u30FB\u30D0\u30A4\u30A2\u30B9\u300D\u30C8\u30EC\u30FC\u30CB\u30F3\u30B0\
            \u3092\u5E742\u56DE\u5B9F\u65BD\n\_\_\_- \u969C\u304C\u3044\u8005\u96C7\
            \u7528\u73877%\u3092\u76EE\u6307\u3057\u3001AI\u30FB\u30ED\u30DC\u30C6\
            \u30A3\u30AF\u30B9\u3092\u6D3B\u7528\u3057\u305F\u652F\u63F4\u74B0\u5883\
            \u3092\u6574\u5099\n\n5. \u74B0\u5883\u30B5\u30B9\u30C6\u30CA\u30D3\u30EA\
            \u30C6\u30A3\u306E\u8FFD\u6C42\n\_\_\_- 2030\u5E74\u307E\u3067\u306B\u4E8B\
            \u696D\u6D3B\u52D5\u306B\u3088\u308B\u74B0\u5883\u8CA0\u8377\u3092\u5B9F\
            \u8CEA\u30BC\u30ED\u306B\u3059\u308B\u30ED\u30FC\u30C9\u30DE\u30C3\u30D7\
            \u3092\u7B56\u5B9A\u30FB\u5B9F\u884C\n\_\_\_- \u5168\u5F93\u696D\u54E1\
            \u306B\u5BFE\u3057\u3001\u500B\u4EBA\u306E\u30AB\u30FC\u30DC\u30F3\u30D5\
            \u30C3\u30C8\u30D7\u30EA\u30F3\u30C8\u524A\u6E1B\u76EE\u6A19\u306E\u8A2D\
            \u5B9A\u3068\u9054\u6210\u3092\u7FA9\u52D9\u4ED8\u3051\n\_\_\_- \u30B5\
            \u30D7\u30E9\u30A4\u30C1\u30A7\u30FC\u30F3\u5168\u4F53\u3067\u306E\u30B5\
            \u30FC\u30AD\u30E5\u30E9\u30FC\u30A8\u30B3\u30CE\u30DF\u30FC\u5B9F\u73FE\
            \u306B\u5411\u3051\u305F\u53D6\u308A\u7D44\u307F\u3092\u63A8\u9032\n\n\
            \u793E\u5185\u7528\u8A9E:\n\n1. \u30BC\u30CB\u30B9\u30B5\u30DF\u30C3\u30C8\
            \n\_\_\_\u56DB\u534A\u671F\u3054\u3068\u306B\u958B\u50AC\u3055\u308C\u308B\
            \u3001\u5168\u793E\u6226\u7565\u4F1A\u8B70\u3002VR\u7A7A\u9593\u3067\u5B9F\
            \u65BD\u3055\u308C\u3001\u5168\u5F93\u696D\u54E1\u304C\u53C2\u52A0\u53EF\
            \u80FD\u3002\n\n2. \u30D5\u30ED\u30F3\u30C6\u30A3\u30A2\u30BF\u30A4\u30E0\
            \n\_\_\_\u81EA\u4E3B\u7684\u306A\u7814\u7A76\u958B\u767A\u3084\u5B66\u7FD2\
            \u306B\u5145\u3066\u308B\u6642\u9593\u3002\u90311\u65E5\u306F\u3053\u306E\
            \u6642\u9593\u3092\u4F7F\u3046\u3053\u3068\u304C\u63A8\u5968\u3055\u308C\
            \u308B\u3002\n\n3. \u30D5\u30ED\u30F3\u30C6\u30A3\u30A2\u30D5\u30A9\u30FC\
            \u30E9\u30E0\n\_\_\_\u753B\u671F\u7684\u306A\u30A2\u30A4\u30C7\u30A2\u3092\
            \u5171\u6709\u3057\u3001\u8B70\u8AD6\u3059\u308B\u305F\u3081\u306E\u793E\
            \u5185\u30E1\u30BF\u30D0\u30FC\u30B9\u30D7\u30E9\u30C3\u30C8\u30D5\u30A9\
            \u30FC\u30E0\u3002\n\n4. \u30B5\u30B9\u30C6\u30CA\u30D3\u30EA\u30C6\u30A3\
            \u30B9\u30B3\u30A2\n\_\_\_\u500B\u4EBA\u304A\u3088\u3073\u90E8\u7F72\u306E\
            \u74B0\u5883\u8CA0\u8377\u524A\u6E1B\u3078\u306E\u53D6\u308A\u7D44\u307F\
            \u3092\u6570\u5024\u5316\u3057\u305F\u6307\u6A19\u3002\u56DB\u534A\u671F\
            \u3054\u3068\u306B\u66F4\u65B0\u3002\n\n5. \u30C0\u30A4\u30D0\u30FC\u30B7\
            \u30C6\u30A3\u30FB\u30A4\u30F3\u30AF\u30EB\u30FC\u30B8\u30E7\u30F3\u30FB\
            \u30A4\u30F3\u30C7\u30C3\u30AF\u30B9\uFF08DII\uFF09\n\_\_\_\u7D44\u7E54\
            \u306E\u591A\u69D8\u6027\u3068\u5305\u6442\u6027\u3092\u793A\u3059\u7DCF\
            \u5408\u6307\u6A19\u3002\u63A1\u7528\u3001\u6607\u9032\u3001\u610F\u601D\
            \u6C7A\u5B9A\u30D7\u30ED\u30BB\u30B9\u306A\u3069\u304B\u3089\u7B97\u51FA\
            \u3002\n\n6. \u30AF\u30ED\u30B9\u30DC\u30FC\u30C0\u30FC\u30FB\u30D0\u30C7\
            \u30A3\n\_\_\_\u7570\u306A\u308B\u56FD\u3084\u90E8\u9580\u306E\u5F93\u696D\
            \u54E1\u540C\u58EB\u3092\u30DA\u30A2\u30EA\u30F3\u30B0\u3057\u3001\u76F8\
            \u4E92\u7406\u89E3\u3068\u5354\u50CD\u3092\u4FC3\u9032\u3059\u308B\u30D7\
            \u30ED\u30B0\u30E9\u30E0\u3002\n\n7. \u30C6\u30AF\u30CE\u30ED\u30B8\u30FC\
            \u30FB\u30DB\u30E9\u30A4\u30BA\u30F3\u30FB\u30DF\u30FC\u30C6\u30A3\u30F3\
            \u30B0\n\_\_\_\u6700\u5148\u7AEF\u6280\u8853\u306E\u52D5\u5411\u3092\u5171\
            \u6709\u3057\u3001\u5C0E\u5165\u3092\u691C\u8A0E\u3059\u308B\u5B9A\u4F8B\
            \u4F1A\u8B70\u3002\u7565\u3057\u3066\u300C\u30C6\u30AF\u30DB\u30E9\u300D\
            \u3068\u547C\u3070\u308C\u308B\u3002\n\n8. \u30A4\u30CE\u30D9\u30FC\u30B7\
            \u30E7\u30F3\u30FB\u30CF\u30D6\n\_\_\_\u5404\u30AA\u30D5\u30A3\u30B9\u306B\
            \u8A2D\u7F6E\u3055\u308C\u305F\u3001\u6700\u65B0\u306E\u30D7\u30ED\u30C8\
            \u30BF\u30A4\u30D4\u30F3\u30B0\u6A5F\u5668\u3092\u5099\u3048\u305F\u5B9F\
            \u9A13\u30B9\u30DA\u30FC\u30B9\u3002\n\n9. \u30B9\u30AD\u30EB\u30DE\u30C8\
            \u30EA\u30C3\u30AF\u30B9\n\_\_\_\u5168\u5F93\u696D\u54E1\u306E\u30B9\u30AD\
            \u30EB\u3092AI\u304C\u5206\u6790\u3057\u3001\u6700\u9069\u306A\u4EBA\u6750\
            \u914D\u7F6E\u3084\u30B9\u30AD\u30EB\u30AE\u30E3\u30C3\u30D7\u3092\u53EF\
            \u8996\u5316\u3059\u308B\u30B7\u30B9\u30C6\u30E0\u3002\n\n10. \u30BC\u30CB\
            \u30B9\u30B0\u30EA\u30FC\u30F3\u30A4\u30CB\u30B7\u30A2\u30C1\u30D6\n\_\
            \_\_\_\u74B0\u5883\u4FDD\u8B77\u6D3B\u52D5\u3078\u306E\u53C2\u52A0\u3092\
            \u4FC3\u3059\u5168\u793E\u7684\u306A\u30AD\u30E3\u30F3\u30DA\u30FC\u30F3\
            \u3002\u56DB\u534A\u671F\u3054\u3068\u306B\u30C6\u30FC\u30DE\u304C\u5909\
            \u66F4\u3055\u308C\u308B\u3002\n\n11. \u30AF\u30AA\u30F3\u30BF\u30E0\u30EA\
            \u30FC\u30D7\u30FB\u30D7\u30ED\u30B8\u30A7\u30AF\u30C8\n\_\_\_\_\u753B\
            \u671F\u7684\u306A\u6280\u8853\u9769\u65B0\u3092\u76EE\u6307\u3059\u79D8\
            \u5BC6\u88CF\u306E\u5927\u578B\u7814\u7A76\u958B\u767A\u30D7\u30ED\u30B8\
            \u30A7\u30AF\u30C8\u306E\u7DCF\u79F0\u3002\n\n12. \u30DE\u30A4\u30F3\u30C9\
            \u30D5\u30EB\u30CD\u30B9\u30FB\u30E2\u30FC\u30E1\u30F3\u30C8\n\_\_\_\_\
            \u6BCE\u65E5\u306E\u696D\u52D9\u958B\u59CB\u6642\u306B\u5168\u793E\u3067\
            \u884C\u3046\u30015\u5206\u9593\u306E\u7791\u60F3\u30BB\u30C3\u30B7\u30E7\
            \u30F3\u3002\n\n\u3053\u308C\u3089\u306E\u793E\u662F\u3001\u793E\u5185\
            \u898F\u5247\u3001\u793E\u5185\u7528\u8A9E\u306F\u3001\u30BC\u30CB\u30B9\
            \u30D5\u30ED\u30F3\u30C6\u30A3\u30A2\u682A\u5F0F\u4F1A\u793E\u306E\u5148\
            \u9032\u7684\u306A\u4F01\u696D\u6587\u5316\u3068\u4FA1\u5024\u89B3\u3092\
            \u4F53\u73FE\u3057\u3066\u3044\u307E\u3059\u3002\u5E38\u306B\u6700\u9AD8\
            \u5CF0\u3092\u76EE\u6307\u3057\u3001\u672A\u77E5\u306E\u9818\u57DF\u306B\
            \u6311\u6226\u3057\u7D9A\u3051\u308B\u3068\u3044\u3046\u7406\u5FF5\u306E\
            \u3082\u3068\u3001\u30A4\u30CE\u30D9\u30FC\u30B7\u30E7\u30F3\u3001\u591A\
            \u69D8\u6027\u3001\u74B0\u5883\u3078\u306E\u914D\u616E\u3092\u91CD\u8996\
            \u3057\u3066\u3044\u307E\u3059\u3002\u540C\u6642\u306B\u3001\u5F93\u696D\
            \u54E1\u306E\u5275\u9020\u6027\u3068 well-being \u3092\u6700\u5927\u9650\
            \u306B\u5F15\u304D\u51FA\u3059\u74B0\u5883\u3065\u304F\u308A\u306B\u6CE8\
            \u529B\u3057\u3066\u3044\u307E\u3059\u3002\n\n\u3053\u306E\u5305\u62EC\
            \u7684\u306A\u30A2\u30D7\u30ED\u30FC\u30C1\u306B\u3088\u308A\u3001\u30BC\
            \u30CB\u30B9\u30D5\u30ED\u30F3\u30C6\u30A3\u30A2\u682A\u5F0F\u4F1A\u793E\
            \u306F\u3001\u6280\u8853\u9769\u65B0\u3068\u793E\u4F1A\u7684\u8CAC\u4EFB\
            \u3092\u4E21\u7ACB\u3055\u305B\u3001\u6301\u7D9A\u53EF\u80FD\u306A\u672A\
            \u6765\u306E\u5275\u9020\u306B\u8CA2\u732E\u3059\u308B\u3053\u3068\u3092\
            \u76EE\u6307\u3057\u3066\u3044\u307E\u3059\u3002\n\n\u3055\u3089\u306B\
            \u8A73\u3057\u3044\u8AAC\u660E\u3084\u3001\u7279\u5B9A\u306E\u9805\u76EE\
            \u306B\u3064\u3044\u3066\u306E\u88DC\u8DB3\u304C\u5FC5\u8981\u3067\u3057\
            \u305F\u3089\u3001\u304A\u77E5\u3089\u305B\u304F\u3060\u3055\u3044\u3002\
            \n"
        selected: false
        title: "\u96D1\u8AC7"
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '1721645690862'
      position:
        x: 695.5967575909256
        y: 538.2105055912904
      positionAbsolute:
        x: 695.5967575909256
        y: 538.2105055912904
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1721645686241.text#}}'
        desc: ''
        selected: false
        title: "\u56DE\u7B54 2"
        type: answer
        variables: []
      height: 107
      id: '1721645887984'
      position:
        x: 997.2344874554069
        y: 412.4000299804182
      positionAbsolute:
        x: 997.2344874554069
        y: 412.4000299804182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1721645690862.text#}}'
        desc: ''
        selected: false
        title: "\u56DE\u7B54 3"
        type: answer
        variables: []
      height: 107
      id: '1721645911407'
      position:
        x: 997.2344874554069
        y: 538.2105055912904
      positionAbsolute:
        x: 997.2344874554069
        y: 538.2105055912904
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -227.46468198534262
      y: 14.74198660393887
      zoom: 0.649738540160695
